@import url(//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css);
/*
 * barracks-cacao v0.2
 * 2014.12.26 tom : mobile > ax-scroll-top 추가
 */
.none {
  display: none;
}
.util-border-radius-none {
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
}
.util-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.util-textHidden {
  text-indent: 99999px;
  overflow: hidden;
}
.H10 {
  font-size: 1px;
  height: 10px;
}
.H20 {
  font-size: 1px;
  height: 20px;
}
.H30 {
  font-size: 1px;
  height: 30px;
}
.H40 {
  font-size: 1px;
  height: 40px;
}
.H50 {
  font-size: 1px;
  height: 50px;
}
.H60 {
  font-size: 1px;
  height: 60px;
}
.H70 {
  font-size: 1px;
  height: 70px;
}
.H80 {
  font-size: 1px;
  height: 80px;
}
.H90 {
  font-size: 1px;
  height: 90px;
}
.H100 {
  font-size: 1px;
  height: 100px;
}
.ax-align-left {
  text-align: left;
}
.ax-align-center {
  text-align: center;
}
.ax-align-right {
  text-align: right;
}
html,
body {
  background: #f2f2f2;
  color: #666666;
  height: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-text-size-adjust: none;
  font-family: "Nanum Barun Gothic", "Apple SD Gothic Neo", "Open sans", "Meiryo";
  font-size: 12px;
}
a {
  color: #666666;
  text-decoration: none;
}
a:hover {
  color: #523636;
}
.modal-log-info-title {
  font-size: 14px;
  line-height: 44px;
  padding: 0px 10px;
  color: #000;
}
.modal-log-info-wrap {
  background: #fff;
  padding: 10px 10px 0px 10px;
  height: 100px;
  position: relative;
}
.modal-log-info-wrap .ax-loginfo {
  line-height: 60px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: block;
}
.modal-log-info-wrap .ax-loginfo li {
  display: block;
  vertical-align: middle;
}
.modal-log-info-wrap .ax-loginfo li.profile .photo {
  display: block;
  float: left;
  width: 34px;
  height: 34px;
  background: url('images/profile.png') no-repeat 50%;
  background-size: cover;
  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
  border: 3px solid #858585;
  margin-top: 10px;
}
.modal-log-info-wrap .ax-loginfo li.account {
  display: block;
  float: left;
  color: #666666;
  font-weight: bold;
  padding: 0px 10px;
}
.modal-log-info-wrap .ax-loginfo li.btns {
  position: absolute;
  right: 10px;
  bottom: 0px;
}
.modal-log-info-wrap .ax-loginfo li.lang {
  display: block;
  float: left;
}
.AXTree_none .AXTreeScrollBody {
  border: 0px none;
  border-top: 1px solid #e2e2e2;
}
.cm-s-eclipse {
  line-height: 1.8em;
}
#AXPage {
  font-family: "Nanum Barun Gothic", "Apple SD Gothic Neo", "Open sans", "Meiryo";
  font-size: 12px;
  /* 페이지 좌측 메뉴용 */
}
#AXPage .ax-wrap {
  margin: 0px auto;
}
#AXPage .ax-clear {
  clear: both;
}
#AXPage .ax-unit {
  margin: 0px 10px;
}
#AXPage .ax-col {
  float: left;
}
#AXPage div[class*="ax-col-"] {
  float: left;
  height: inherit;
}
#AXPage .ax-col-1 {
  width: 8.3334%;
}
#AXPage .ax-col-2 {
  width: 16.6667%;
}
#AXPage .ax-col-3 {
  width: 25%;
}
#AXPage .ax-col-4 {
  width: 33.3334%;
}
#AXPage .ax-col-5 {
  width: 41.6667%;
}
#AXPage .ax-col-6 {
  width: 50%;
}
#AXPage .ax-col-7 {
  width: 58.3334%;
}
#AXPage .ax-col-8 {
  width: 66.6667%;
}
#AXPage .ax-col-9 {
  width: 75%;
}
#AXPage .ax-col-10 {
  width: 83.3334%;
}
#AXPage .ax-col-11 {
  width: 91.6667%;
}
#AXPage .ax-col-12 {
  width: 100%;
}
#AXPage div[class*="mx-"] {
  display: none;
}
#AXPage .ax-header {
  z-index: 300;
  border-bottom: 1px solid #d9d9d9;
  height: 60px;
  position: fixed;
  width: 100%;
  background: #ffffff;
  opacity: 0.95;
}
#AXPage .ax-header .ax-logo {
  position: absolute;
  margin-top: 6px;
  z-index: 1;
  display: block;
  /*
			line-height:45px;margin-top:8px;
			a.logo-icon{
				color: @color-b;
				text-decoration: none;
				font-size:45px;	
				i.axi{
					padding:5px;
					font-size:35px;
				}
			}
            img{
              vertical-align: middle;
              border:0px none;
            }
			a{
				color:@color;
				vertical-align: middle;
				text-decoration: underline;
			}
			*/
}
#AXPage .ax-header .ax-logo a {
  padding: 0px 10px;
  height: 45px;
  display: inline-block;
  text-decoration: none;
}
#AXPage .ax-header .ax-logo a .logo-img {
  display: block;
  float: left;
  line-height: 45px;
  height: 45px;
  vertical-align: middle;
}
#AXPage .ax-header .ax-logo a .logo-img i.axi {
  color: #523636;
  font-size: 35px;
  line-height: 45px;
}
#AXPage .ax-header .ax-logo a .logo-txt {
  display: block;
  float: left;
  padding: 0px 5px;
  color: #523636;
  vertical-align: middle;
  text-decoration: none;
  font-size: 14px;
  font-family: "Arial Black";
  line-height: 45px;
}
#AXPage .ax-header .ax-top-menu {
  padding-left: 200px;
  height: 60px;
  width: 600px;
}
#AXPage .ax-header .ax-top-menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#AXPage .ax-header .ax-top-menu ul li {
  float: left;
  font-size: 14px;
  line-height: 60px;
}
#AXPage .ax-header .ax-top-menu ul li a {
  padding: 0px 10px;
}
#AXPage .ax-header .ax-top-menu .varrow1 {
  position: absolute;
  background: transparent url('images/allow_menu1.gif') no-repeat;
  width: 19px;
  height: 10px;
  z-index: 2;
  _margin-top: 4px;
}
#AXPage .ax-header .ax-top-menu .varrow2 {
  position: absolute;
  background: transparent url('images/allow_menu2.gif') no-repeat;
  width: 19px;
  height: 10px;
  z-index: 2;
  _margin-top: 4px;
}
#AXPage .ax-header .ax-top-menu .harrow {
  position: absolute;
  background: transparent url('images/allow_menu3.gif') no-repeat;
  width: 9px;
  height: 13px;
  z-index: 2;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .parentMenu {
  position: relative;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .parentMenu a {
  font-weight: bold;
  color: #666;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .parentMenu a:hover {
  color: #523636;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .parentMenu a:focus {
  color: #523636;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .parentMenu a.on {
  color: #523636;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .childMenu {
  position: absolute;
  line-height: 25px;
  font-size: 12px;
  display: none;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .childMenu ul {
  background: #ebebeb;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px;
  margin: 0px;
  display: block;
  position: relative;
  box-shadow: 0px 0px 3px #ccc;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .childMenu ul li {
  float: none;
  padding: 0px;
  margin: 0px;
  border-bottom: 1px solid #ebebeb;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .childMenu ul li a {
  font-size: 12px;
  display: block;
  _width: 100%;
  padding: 0px 10px;
  height: 30px;
  line-height: 30px;
  background: #fff;
  border-radius: 3px;
  text-decoration: none;
  white-space: nowrap;
  color: #666;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .childMenu ul li a:hover {
  color: #523636;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .childMenu ul li a.on {
  background: #eee;
  color: #523636;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .childMenu ul li a.expand {
  background-image: url(images/rightArrows.png);
  background-repeat: no-repeat;
  background-position: 100% 0px;
  padding-right: 30px;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .childMenu ul li a.expand:hover {
  background-image: url(images/rightArrows.png);
  background-repeat: no-repeat;
  background-position: 100% -30px;
  padding-right: 30px;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .childsMenu {
  position: absolute;
  line-height: 20px;
  font-size: 12px;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .childsMenu ul {
  background: #ebebeb;
  border: 1px solid #ccc;
  padding: 3px;
  margin: 0px;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .childsMenu ul li {
  float: none;
  padding: 0px;
  margin: 0px;
  border-bottom: 1px solid #ebebeb;
}
#AXPage .ax-header .ax-loginfo {
  height: 60px;
  line-height: 60px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  float: right;
}
#AXPage .ax-header .ax-loginfo li {
  display: inline;
  vertical-align: middle;
}
#AXPage .ax-header .ax-loginfo li.profile .photo {
  display: block;
  float: left;
  width: 34px;
  height: 34px;
  background: url('images/profile.png') no-repeat 50%;
  background-size: cover;
  -webkit-border-radius: 34px 34px 34px 34px;
  -moz-border-radius: 34px 34px 34px 34px;
  border-radius: 34px 34px 34px 34px;
  border: 3px solid #858585;
  margin-top: 10px;
}
#AXPage .ax-header .ax-loginfo li.account {
  color: #666666;
  font-weight: bold;
  padding: 0px 10px;
}
#AXPage .ax-header .ax-loginfo li.lang {
  padding: 0px 20px;
}
#AXPage .ax-body {
  z-index: 100;
  padding-bottom: 50px;
  /* 페이지 본문 패딩 조절용 */
}
#AXPage .ax-body .ax-title {
  height: 30px;
  overflow: hidden;
  padding: 20px;
}
#AXPage .ax-body .ax-title h1 {
  display: block;
  height: 30px;
  line-height: 30px;
  float: left;
  font-size: 24px;
  font-weight: normal;
  color: #666666;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
#AXPage .ax-body .ax-title .desc {
  display: block;
  height: 30px;
  line-height: 30px;
  float: left;
  color: #666666;
  text-align: center;
  margin: 0px 0px 0px 10px;
  padding: 0px;
}
#AXPage .ax-body .ax-title .expand h1 {
  margin-left: 40px;
}
#AXPage .ax-body .ax-box {
  width: 100%;
  min-height: 300px;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.05);
  /* 페이지 검색바 */
  /* 페이지 버튼그룹 */
  /* 페이지 그리드 */
}
#AXPage .ax-body .ax-box h1 {
  font-size: 20px;
  color: #666666;
  font-weight: normal;
  margin: 10px 0px;
  padding: 0px 0px;
}
#AXPage .ax-body .ax-box h1 .more {
  font-size: 14px;
  float: right;
}
#AXPage .ax-body .ax-box h2 {
  font-size: 16px;
  color: #523636;
  font-weight: normal;
  margin: 15px 10px 10px 10px;
  padding: 0px 0px;
}
#AXPage .ax-body .ax-box h2 .more {
  font-size: 14px;
  float: right;
}
#AXPage .ax-body .ax-box h3 {
  font-size: 14px;
  color: #523636;
  font-weight: normal;
  margin: 15px 10px 10px 10px;
  padding: 0px 0px;
}
#AXPage .ax-body .ax-box h3 .more {
  font-size: 14px;
  float: right;
}
#AXPage .ax-body .ax-box p {
  font-size: 12px;
  line-height: 1.6em;
  color: #666666;
  font-weight: normal;
  margin: 10px 0px;
  padding: 0px;
}
#AXPage .ax-body .ax-box.sample-01 .caution {
  color: #ff6f64;
}
#AXPage .ax-body .ax-box.sample-01 .more {
  color: #523636;
}
#AXPage .ax-body .ax-box.sample-01 .more:hover,
#AXPage .ax-body .ax-box.sample-01 .more:focus {
  text-decoration: underline;
}
#AXPage .ax-body .ax-box.sample-01 ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#AXPage .ax-body .ax-box.sample-01 ul li {
  float: left;
  width: 50%;
  padding: 2px 0px;
}
#AXPage .ax-body .ax-box .ax-content-toolbox {
  padding: 4px 5px;
  line-height: 36px;
  border-bottom: 1px solid #e2e2e2;
}
#AXPage .ax-body .ax-box .ax-box-wrap {
  margin: 20px;
}
#AXPage .ax-body .ax-box .ax-tab {
  margin: 10px;
}
#AXPage .ax-body .ax-box .ax-search {
  border-top: 1px solid #ccc;
  margin: 10px;
}
#AXPage .ax-body .ax-box .ax-button-group {
  margin: 10px;
}
#AXPage .ax-body .ax-box .ax-button-group .left {
  float: left;
}
#AXPage .ax-body .ax-box .ax-button-group .right {
  float: right;
}
#AXPage .ax-body .ax-box .ax-grid,
#AXPage .ax-body .ax-box .ax-tree,
#AXPage .ax-body .ax-box .ax-form,
#AXPage .ax-body .ax-box .ax-section {
  margin: 10px;
  padding: 0px;
}
#AXPage .ax-body .ax-content {
  float: none;
  width: auto;
  padding-left: 250px;
}
#AXPage .ax-body .ax-content.expand {
  padding-left: 0px;
}
#AXPage .ax-body .ax-content.expandAll {
  padding-left: 0px;
}
#AXPage .ax-aside {
  position: absolute;
  width: 260px;
  left: 0px;
  top: 130px;
  padding-bottom: 50px;
  z-index: 200;
}
#AXPage .ax-aside .ax-aside-menu-box {
  position: absolute;
  left: 0px;
  top: -53px;
}
#AXPage .ax-aside .ax-aside-menu-box .ax-aside-menu {
  display: block;
  width: 36px;
  height: 36px;
  -webkit-border-radius: 36px 36px 36px 36px;
  -moz-border-radius: 36px 36px 36px 36px;
  border-radius: 36px 36px 36px 36px;
  line-height: 36px;
  background: #858585;
  color: #ffffff;
  margin-left: 10px;
  text-align: center;
}
#AXPage .ax-aside .ax-aside-menu-box .ax-aside-menu .axi {
  font-size: 20px;
  line-height: 32px;
}
#AXPage .ax-aside .ax-aside-menu-box .ax-aside-menu .axi-angle-double-right {
  display: none;
}
#AXPage .ax-aside .ax-aside-menu-box .ax-aside-menu .axi-angle-double-left {
  display: inline;
}
#AXPage .ax-aside .ax-aside-menu-box .ax-aside-menu:hover,
#AXPage .ax-aside .ax-aside-menu-box .ax-aside-menu:focus {
  background: #523636;
}
#AXPage .ax-aside .ax-aside-menu-box .ax-aside-menu.on .axi-angle-double-right {
  display: inline;
}
#AXPage .ax-aside .ax-aside-menu-box .ax-aside-menu.on .axi-angle-double-left {
  display: none;
}
#AXPage .ax-aside .ax-aside-box .ax-box {
  width: 100%;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
  padding-bottom: 5px;
}
#AXPage .ax-aside .ax-aside-box .ax-box h1 {
  font-size: 24px;
  color: #666666;
  font-weight: normal;
  margin: 10px 0px;
  padding: 0px 0px;
}
#AXPage .ax-aside .ax-aside-box .ax-box p {
  font-size: 12px;
  line-height: 1.6em;
  color: #666666;
  font-weight: normal;
  margin: 10px 0px;
  padding: 0px;
}
#AXPage .ax-aside .ax-aside-box .ax-box.sample-01 .caution {
  color: #ff6f64;
}
#AXPage .ax-aside .ax-aside-box .ax-box.sample-01 .more {
  color: #523636;
}
#AXPage .ax-aside .ax-aside-box .ax-box.sample-01 .more:hover,
#AXPage .ax-aside .ax-aside-box .ax-box.sample-01 .more:focus {
  text-decoration: underline;
}
#AXPage .ax-aside .ax-aside-box .ax-box.sample-01 ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#AXPage .ax-aside .ax-aside-box .ax-box.sample-01 ul li {
  float: left;
  width: 50%;
  padding: 2px 0px;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-box-wrap {
  margin: 20px;
}
#AXPage .ax-aside .ax-aside-box .ax-box h3 {
  font-size: 14px;
  color: #666666;
  font-weight: normal;
  text-align: center;
}
#AXPage .ax-aside .ax-aside-box .ax-box h3 a {
  margin: 0px 5px;
  cursor: pointer;
}
#AXPage .ax-aside .ax-aside-box .ax-box h3 a.on {
  color: #523636;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid #d9d9d9;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul li {
  border-bottom: 1px solid #d9d9d9;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul li a {
  display: block;
  padding: 8px 10px;
  font-size: 13px;
  line-height: 22px;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul li a:hover,
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul li a:focus {
  background: #fff6ac;
  color: #493334;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-page {
  display: none;
}
#AXPage .ax-footer {
  z-index: 200;
  height: 40px;
  position: fixed;
  width: 100%;
  bottom: 0px;
  line-height: 40px;
  border-top: 1px solid #d9d9d9;
  background: #ffffff;
}
#AXPage .ax-footer .ax-version {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#AXPage .ax-footer .ax-version li {
  float: left;
  margin-right: 16px;
}
#AXPage .ax-footer .ax-funcs {
  float: right;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#AXPage .ax-footer .ax-funcs li {
  float: left;
  margin-left: 16px;
}
#AXPage.login .ax-title {
  position: relative;
  height: 50px;
  overflow: hidden;
  padding: 20px;
  background: #f2f2f2;
  z-index: 100;
}
#AXPage.login .ax-title h1 {
  display: block;
  height: 30px;
  line-height: 30px;
  float: none;
  font-size: 24px;
  font-weight: normal;
  color: #666666;
  text-align: center;
  margin: 0px;
  padding: 0px;
  color: #523636;
}
#AXPage.login .ax-title .desc {
  display: block;
  height: 30px;
  line-height: 30px;
  float: none;
  color: #666666;
  text-align: center;
  margin: 0px 0px 0px 10px;
  padding: 0px;
}
#AXPage.login .ax-box {
  width: 300px;
  margin: 0px auto;
}
#AXPage.login .ax-box h1 {
  text-align: center;
  color: #523636;
  font-weight: normal;
}
#AXPage.login .ax-box p {
  text-align: center;
  color: #a6a6a6;
  margin: 0px;
}
#AXPage.login .ax-box .ax-input {
  display: block;
  padding: 4px 20px;
}
#AXPage.login .ax-box .ax-input .name {
  display: none;
}
#AXPage.login .ax-box .ax-input .AXInput {
  width: 100px;
  width: 100%;
  height: 40px;
  padding: 0px;
  text-indent: 10px;
}
#AXPage.login .ax-box .ax-funcs {
  padding: 4px 20px;
}
#AXPage.login .ax-box .ax-funcs .AXCheckbox {
  float: left;
}
#AXPage.login .ax-box .ax-funcs .AXCheckbox label {
  padding: 0px !important;
}
#AXPage.login .ax-box .ax-funcs button {
  float: right;
}
#AXPage.login .ax-box .ax-opts {
  padding: 20px;
  border-top: 1px solid #e2e2e2;
  text-align: center;
}
#AXPage .ax-modal-header {
  height: 40px;
  overflow: hidden;
  padding: 10px;
}
#AXPage .ax-modal-header h1 {
  display: block;
  height: 24px;
  line-height: 40px;
  float: none;
  font-size: 20px;
  font-weight: normal;
  color: #666666;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
#AXPage .ax-modal-header .desc {
  display: none;
  display: block;
  height: 16px;
  line-height: 16px;
  float: none;
  color: #666666;
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}
#AXPage .ax-modal-sub-header {
  padding: 10px;
}
#AXPage .ax-modal-sub-header h1,
#AXPage .ax-modal-sub-header h2,
#AXPage .ax-modal-sub-header h3 {
  display: block;
  height: 18px;
  line-height: 18px;
  float: none;
  font-size: 16px;
  font-weight: normal;
  color: #666666;
  text-align: left;
  margin: 0px;
  padding: 0px;
}
#AXPage .ax-modal-sub-header .desc {
  display: block;
  height: 16px;
  line-height: 16px;
  float: none;
  color: #666666;
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}
#AXPage .ax-modal-body {
  margin: 0px 10px;
  min-height: 150px;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.05);
}
#AXPage .ax-modal-body H3 {
  color: #616161;
  margin: 10px 10px;
}
#AXPage .ax-modal-body .tree-in-form {
  height: 400px;
  border: 1px solid #858585;
  border-radius: 4px;
}
#AXPage .ax-modal-body .form-in-form {
  border: 1px solid #e2e2e2;
  border-radius: 4px;
}
#AXPage .ax-modal-body .buttons-in-form {
  padding: 5px;
}
#AXPage .ax-modal-footer {
  padding: 10px;
}
#AXPage .ax-modal-footer .ax-unit.center {
  text-align: center;
}
#AXPage .ax-modal-footer .ax-unit.right {
  text-align: right;
}
.ax-scroll-top {
  display: none;
}
.ax-rwd-table {
  position: relative;
  border-top: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
}
.ax-rwd-table .item-group {
  position: relative;
  min-height: 40px;
}
.ax-rwd-table .item-group.gray {
  background: #eee;
  padding: 0px;
  min-height: 25px;
}
.ax-rwd-table .item-group .item {
  float: left;
  line-height: 20px;
  min-height: 20px;
  padding: 0px;
  text-align: center;
  position: relative;
}
.ax-rwd-table .item-group .item .item-lable,
.ax-rwd-table .item-group .item .item-label {
  position: relative;
  display: table-row;
  *display: block;
  *float: left;
}
.ax-rwd-table .item-group .item .item-lable span.th,
.ax-rwd-table .item-group .item .item-label span.th {
  display: table-cell;
  *display: block;
  *float: left;
  color: #616161;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  min-height: 20px;
  line-height: 20px;
  padding: 10px 0px;
  box-sizing: border-box;
  min-width: 100px;
  background: #f7f7f7;
}
.ax-rwd-table .item-group .item .item-lable span.th.none,
.ax-rwd-table .item-group .item .item-label span.th.none {
  border: 0px none;
}
.ax-rwd-table .item-group .item .item-lable span.td,
.ax-rwd-table .item-group .item .item-label span.td {
  display: table-cell;
  *display: block;
  *float: left;
  height: 30px;
  line-height: auto;
  padding: 5px 10px;
  *line-height: 30px;
  box-sizing: content-box;
  vertical-align: middle;
  text-align: left;
  min-width: 200px;
}
.ax-rwd-table .item-group .item .item-lable span.td.selectBox,
.ax-rwd-table .item-group .item .item-label span.td.selectBox {
  *padding-top: 7px;
  *height: 28px;
}
.ax-rwd-table .item-group .item .item-lable span.td.inputText,
.ax-rwd-table .item-group .item .item-label span.td.inputText {
  *padding-top: 6px;
  *height: 29px;
}
.ax-rwd-table .item-group .item .item-lable span.td.button,
.ax-rwd-table .item-group .item .item-label span.td.button {
  *padding-top: 6px;
  *height: 29px;
}
.ax-rwd-table .item-group .item .item-lable span.td select,
.ax-rwd-table .item-group .item .item-label span.td select {
  box-sizing: border-box;
  height: 25px;
  margin: 0px;
}
.ax-rwd-table .item-group .item .item-lable span.td input,
.ax-rwd-table .item-group .item .item-label span.td input {
  vertical-align: middle;
}
.ax-rwd-table .item-group .item .item-lable span.td label,
.ax-rwd-table .item-group .item .item-label span.td label {
  vertical-align: middle;
}
.ax-rwd-table .item-group .item.fullWidth {
  position: relative;
  display: table;
  float: none;
  clear: both;
  width: 100%;
}
.ax-rwd-table .item-group .item.fullWidth .item-lable,
.ax-rwd-table .item-group .item.fullWidth .item-label {
  position: relative;
  display: table-row;
  float: none;
  clear: both;
  width: 100%;
}
.ax-rwd-table .item-group .item.fullWidth .item-lable span.th,
.ax-rwd-table .item-group .item.fullWidth .item-label span.th {
  width: 100px;
}
.ax-rwd-table .item-group .item.fullWidth .item-lable input[type=text],
.ax-rwd-table .item-group .item.fullWidth .item-label input[type=text],
.ax-rwd-table .item-group .item.fullWidth .item-lable input[type=password],
.ax-rwd-table .item-group .item.fullWidth .item-label input[type=password],
.ax-rwd-table .item-group .item.fullWidth .item-lable .AXInput,
.ax-rwd-table .item-group .item.fullWidth .item-label .AXInput,
.ax-rwd-table .item-group .item.fullWidth .item-lable select,
.ax-rwd-table .item-group .item.fullWidth .item-label select,
.ax-rwd-table .item-group .item.fullWidth .item-lable textarea,
.ax-rwd-table .item-group .item.fullWidth .item-label textarea {
  width: 100%;
  height: 25px;
  box-sizing: border-box;
}
.ax-rwd-table .item-group .item.rightPadding0 .item-lable span.td,
.ax-rwd-table .item-group .item.rightPadding0 .item-label span.td {
  padding-right: 0px;
}
.ax-rwd-table .item-group .item.leftPadding0 .item-lable span.td,
.ax-rwd-table .item-group .item.leftPadding0 .item-label span.td {
  padding-left: 0px;
}
.ax-rwd-table .item-group .item.padding0 .item-lable span.td,
.ax-rwd-table .item-group .item.padding0 .item-label span.td {
  padding: 5px 0px;
}
.ax-rwd-table .item-group .group-clear {
  font-size: 1px;
  line-height: 1px;
  height: 1px;
  background: #e2e2e2;
  clear: both;
}
.ax-rwd-table-mobile {
  border-top: 1px solid #e2e2e2;
  border-right: 0px none;
}
.ax-rwd-table-mobile .item-group {
  position: relative;
  min-height: 40px;
}
.ax-rwd-table-mobile .item-group.gray {
  background: #eee;
  padding: 0px;
  min-height: 25px;
}
.ax-rwd-table-mobile .item-group .item {
  float: none;
  line-height: auto;
  min-height: auto;
  padding: 0px;
  text-align: left;
  position: relative;
}
.ax-rwd-table-mobile .item-group .item .item-lable,
.ax-rwd-table-mobile .item-group .item .item-label {
  position: relative;
  display: block;
  float: left;
}
.ax-rwd-table-mobile .item-group .item .item-lable span.th,
.ax-rwd-table-mobile .item-group .item .item-label span.th {
  display: block;
  float: none;
  color: #616161;
  border: none;
  padding: 0px;
  margin: 10px 10px 10px 15px;
  box-sizing: content-box;
  text-align: left;
  font-weight: bold;
  background: none;
}
.ax-rwd-table-mobile .item-group .item .item-lable span.td,
.ax-rwd-table-mobile .item-group .item .item-label span.td {
  display: block;
  float: none;
  height: auto;
  line-height: auto;
  padding: 0px;
  margin: 0px 10px 10px 10px;
  *line-height: 30px;
  box-sizing: content-box;
  vertical-align: middle;
  text-align: left;
}
.ax-rwd-table-mobile .item-group .item .item-lable span.td select,
.ax-rwd-table-mobile .item-group .item .item-label span.td select {
  box-sizing: border-box;
  height: 25px;
  margin: 0px;
}
.ax-rwd-table-mobile .item-group .item .item-lable span.td input,
.ax-rwd-table-mobile .item-group .item .item-label span.td input {
  vertical-align: middle;
}
.ax-rwd-table-mobile .item-group .item .item-lable span.td label,
.ax-rwd-table-mobile .item-group .item .item-label span.td label {
  vertical-align: middle;
}
.ax-rwd-table-mobile .item-group .item.secondItem .item-lable span.th,
.ax-rwd-table-mobile .item-group .item.secondItem .item-label span.th {
  border-left: none;
}
.ax-rwd-table-mobile .item-group .item.rightPadding0 .item-lable span.td,
.ax-rwd-table-mobile .item-group .item.rightPadding0 .item-label span.td {
  padding-right: 0px;
}
.ax-rwd-table-mobile .item-group .item.leftPadding0 .item-lable span.td,
.ax-rwd-table-mobile .item-group .item.leftPadding0 .item-label span.td {
  padding-left: 0px;
}
.ax-rwd-table-mobile .item-group .item.padding0 .item-lable span.td,
.ax-rwd-table-mobile .item-group .item.padding0 .item-label span.td {
  padding: 5px 0px;
}
.ax-rwd-table-mobile .item-group .item-clear {
  clear: both;
}
.ax-rwd-table-mobile .item-group .group-clear {
  font-size: 1px;
  line-height: 1px;
  height: 1px;
  background: #e2e2e2;
  clear: both;
}
table.ax-layout {
  border-collapse: collapse;
  border: 0px none;
  width: 100%;
  table-layout: fixed;
}
table.ax-layout td,
table.ax-layout th {
  padding: 0px;
}
table.ax-layout td .tdRel,
table.ax-layout th .tdRel {
  position: relative;
}
table.ax-layout tbody td,
table.ax-layout tbody th {
  min-height: 25px;
  overflow: visible;
  border: 0px none;
}
table.ax-layout tbody tr.gray th,
table.ax-layout tbody tr.gray td {
  background-color: #F5F5F5;
}
table.ax-layout tbody tr.red th,
table.ax-layout tbody tr.red td {
  background-color: #FFE8E8;
}
table.ax-layout tbody tr.green th,
table.ax-layout tbody tr.green td {
  background-color: #F7FDEA;
}
table.ax-layout tbody tr.blue th,
table.ax-layout tbody tr.blue td {
  background-color: #EAF5FD;
}
table.ax-layout tbody tr.yellow th,
table.ax-layout tbody tr.yellow td {
  background-color: #FEFEE9;
}
table.ax-layout tbody tr td.gray {
  background-color: #F5F5F5;
}
table.ax-layout tbody tr td.red {
  background-color: #FFE8E8;
}
table.ax-layout tbody tr td.green {
  background-color: #F7FDEA;
}
table.ax-layout tbody tr td.blue {
  background-color: #EAF5FD;
}
table.ax-layout tbody tr td.yellow {
  background-color: #FEFEE9;
}
table.ax-layout.padding10 {
  border-spacing: 10px;
  border-collapse: separate;
}
table.ax-layout.padding5 {
  border-spacing: 5px;
  border-collapse: separate;
}
table.ax-layout.padding15 {
  border-spacing: 15px;
  border-collapse: separate;
}
table.ax-layout.padding20 {
  border-spacing: 20px;
  border-collapse: separate;
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  #AXPage .ax-wrap {
    margin: 0px auto;
  }
  #AXPage .ax-clear {
    clear: both;
  }
  #AXPage .ax-unit {
    margin: 0px 10px;
  }
  #AXPage .ax-col {
    float: left;
  }
  #AXPage div[class*="ax-col-"] {
    float: left;
    height: inherit;
  }
  #AXPage .ax-col-1 {
    width: 8.3334%;
  }
  #AXPage .ax-col-2 {
    width: 16.6667%;
  }
  #AXPage .ax-col-3 {
    width: 25%;
  }
  #AXPage .ax-col-4 {
    width: 33.3334%;
  }
  #AXPage .ax-col-5 {
    width: 41.6667%;
  }
  #AXPage .ax-col-6 {
    width: 50%;
  }
  #AXPage .ax-col-7 {
    width: 58.3334%;
  }
  #AXPage .ax-col-8 {
    width: 66.6667%;
  }
  #AXPage .ax-col-9 {
    width: 75%;
  }
  #AXPage .ax-col-10 {
    width: 83.3334%;
  }
  #AXPage .ax-col-11 {
    width: 91.6667%;
  }
  #AXPage .ax-col-12 {
    width: 100%;
  }
  #AXPage .ax-header .ax-loginfo {
    display: none;
  }
  #AXPage .ax-header .mx-loginfo {
    display: block;
    float: right;
    line-height: 60px;
    padding-right: 10px;
  }
  #AXPage .ax-header .mx-menu-button {
    font-size: 30px;
  }
  #AXPage .ax-header .mx-menu-button:hover,
  #AXPage .ax-header .mx-menu-button:focus {
    color: #523636;
  }
  #AXPage .ax-body .ax-title h1 {
    margin-left: 40px;
  }
  #AXPage .ax-body .ax-title .expand h1 {
    margin-left: 40px;
  }
  #AXPage .ax-body .ax-title .expandAll h1 {
    margin-left: 0px;
  }
  #AXPage .ax-body .ax-content {
    padding-left: 0px;
  }
  #AXPage .ax-aside {
    height: 0px;
    padding-bottom: 0px;
  }
  #AXPage .ax-aside .ax-aside-box {
    background: #fff;
    padding: 10px 0px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  }
}
@media (max-width: 767px) {
  #AXPage .ax-wrap {
    margin: 0px auto;
  }
  #AXPage .ax-clear {
    clear: both;
  }
  #AXPage .ax-unit {
    margin: 0px 3px;
  }
  #AXPage .ax-col {
    float: left;
  }
  #AXPage div[class*="ax-col-"] {
    float: left;
    height: inherit;
  }
  #AXPage .ax-col-1 {
    width: 100%;
  }
  #AXPage .ax-col-2 {
    width: 100%;
  }
  #AXPage .ax-col-3 {
    width: 100%;
  }
  #AXPage .ax-col-4 {
    width: 100%;
  }
  #AXPage .ax-col-5 {
    width: 100%;
  }
  #AXPage .ax-col-6 {
    width: 100%;
  }
  #AXPage .ax-col-7 {
    width: 100%;
  }
  #AXPage .ax-col-8 {
    width: 100%;
  }
  #AXPage .ax-col-9 {
    width: 100%;
  }
  #AXPage .ax-col-10 {
    width: 100%;
  }
  #AXPage .ax-col-11 {
    width: 100%;
  }
  #AXPage .ax-col-12 {
    width: 100%;
  }
  #AXPage div[class*="mx-"] {
    display: block;
  }
  #AXPage .ax-header {
    position: absolute;
    opacity: 1;
  }
  #AXPage .ax-header .ax-col-8 {
    width: 50%;
  }
  #AXPage .ax-header .ax-col-4 {
    width: 50%;
  }
  #AXPage .ax-header .ax-logo {
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
  }
  #AXPage .ax-header .ax-top-menu {
    display: none;
  }
  #AXPage .ax-header .mx-top-menu {
    float: left;
    line-height: 60px;
    padding-left: 10px;
    padding-top: 5px;
  }
  #AXPage .ax-header .ax-loginfo {
    display: none;
  }
  #AXPage .ax-header .mx-loginfo {
    float: right;
    line-height: 60px;
    padding-right: 10px;
  }
  #AXPage .ax-header .mx-menu-button {
    font-size: 30px;
  }
  #AXPage .ax-header .mx-menu-button#mx-aside-menu-handle {
    margin-left: 10px;
  }
  #AXPage .ax-header .mx-menu-button:hover,
  #AXPage .ax-header .mx-menu-button:focus {
    color: #523636;
  }
  #AXPage .ax-body .ax-title {
    height: 50px;
    overflow: hidden;
    padding: 20px;
  }
  #AXPage .ax-body .ax-title h1 {
    display: block;
    height: 25px;
    line-height: 25px;
    float: none;
    font-size: 24px;
    font-weight: normal;
    color: #666666;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }
  #AXPage .ax-body .ax-title .desc {
    display: block;
    height: 20px;
    line-height: 20px;
    float: none;
    color: #666666;
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 0px;
  }
  #AXPage .ax-body .ax-title .expand h1 {
    margin-left: 0px;
  }
  #AXPage .ax-body .ax-content {
    padding-left: 0px;
  }
  #AXPage .ax-body .ax-box {
    /* 페이지 검색바 */
    /* 페이지 버튼그룹 */
    /* 페이지 그리드 */
  }
  #AXPage .ax-body .ax-box .ax-search {
    border-top: 0px solid;
    margin: 0px 3px 10px 3px;
  }
  #AXPage .ax-body .ax-box .ax-button-group {
    margin: 10px 3px;
  }
  #AXPage .ax-body .ax-box .ax-grid,
  #AXPage .ax-body .ax-box .ax-tree,
  #AXPage .ax-body .ax-box .ax-form,
  #AXPage .ax-body .ax-box .ax-section {
    margin: 10px 3px 3px 3px;
  }
  #AXPage .ax-aside {
    display: none;
  }
  #AXPage .ax-aside.ax-aside-open {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 62px;
    padding-bottom: 50px;
    z-index: 200;
    display: block;
  }
  #AXPage .ax-aside.ax-aside-open .ax-aside-menu-box {
    display: none;
  }
  #AXPage .ax-aside .ax-aside-box {
    background: #fff;
    padding: 10px;
    border-bottom: 1px solid #d9d9d9;
  }
  #AXPage .ax-footer {
    display: none;
  }
  #AXPage.login .ax-box {
    width: auto;
    margin: 0px auto;
  }
  #AXPage .ax-modal-header {
    height: 40px;
    overflow: hidden;
    padding: 10px;
  }
  #AXPage .ax-modal-header h1 {
    display: block;
    height: 24px;
    line-height: 40px;
    float: none;
    font-size: 20px;
    font-weight: normal;
    color: #666666;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }
  #AXPage .ax-modal-header .desc {
    display: none;
    height: 16px;
    line-height: 16px;
    float: none;
    color: #666666;
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 0px;
  }
  #AXPage .ax-modal-body {
    margin: 0px 10px;
  }
  #AXPage .ax-modal-body .tree-in-form {
    height: 300px;
    margin: 0px 5px;
  }
  #AXPage .ax-modal-body .form-in-form {
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    margin: 0px 5px;
  }
  #AXPage .ax-modal-body .buttons-in-form {
    padding: 5px;
  }
  #AXPage .ax-modal-footer {
    padding: 10px;
  }
  #AXPage .ax-modal-footer .ax-unit.center {
    text-align: center;
  }
  #AXPage .ax-modal-footer .ax-unit.right {
    text-align: right;
  }
  .ax-scroll-top {
    display: block;
    position: fixed;
    z-index: 2;
    top: -60px;
    left: 0px;
    width: 100%;
    /* For Safari 3.1 to 6.0 */
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 0.3s;
    /* Standard syntax */
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0.3s;
  }
  .ax-scroll-top.on {
    top: 0px;
  }
  .ax-scroll-top a {
    display: block;
    background: #523636;
    color: #fff;
    padding: 7px 5px;
    width: 70px;
    margin: 0px auto;
    text-align: center;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
  }
}
@media (max-width: 500px) {
  .ax-rwd-table {
    border-top: 1px solid #e2e2e2;
    border-right: 0px none;
  }
  .ax-rwd-table .item-group {
    position: relative;
    min-height: 40px;
  }
  .ax-rwd-table .item-group.gray {
    background: #eee;
    padding: 0px;
    min-height: 25px;
  }
  .ax-rwd-table .item-group .item {
    float: none;
    line-height: auto;
    min-height: auto;
    padding: 0px;
    text-align: left;
    position: relative;
  }
  .ax-rwd-table .item-group .item .item-lable,
  .ax-rwd-table .item-group .item .item-label {
    position: relative;
    display: block;
    float: left;
  }
  .ax-rwd-table .item-group .item .item-lable span.th,
  .ax-rwd-table .item-group .item .item-label span.th {
    display: block;
    float: none;
    color: #616161;
    border: none;
    padding: 0px;
    margin: 10px 10px 10px 15px;
    box-sizing: content-box;
    text-align: left;
    font-weight: bold;
    background: none;
  }
  .ax-rwd-table .item-group .item .item-lable span.td,
  .ax-rwd-table .item-group .item .item-label span.td {
    display: block;
    float: none;
    height: auto;
    line-height: auto;
    padding: 0px;
    margin: 0px 10px 10px 10px;
    *line-height: 30px;
    box-sizing: content-box;
    vertical-align: middle;
    text-align: left;
  }
  .ax-rwd-table .item-group .item .item-lable span.td select,
  .ax-rwd-table .item-group .item .item-label span.td select {
    box-sizing: border-box;
    height: 25px;
    margin: 0px;
  }
  .ax-rwd-table .item-group .item .item-lable span.td input,
  .ax-rwd-table .item-group .item .item-label span.td input {
    vertical-align: middle;
  }
  .ax-rwd-table .item-group .item .item-lable span.td label,
  .ax-rwd-table .item-group .item .item-label span.td label {
    vertical-align: middle;
  }
  .ax-rwd-table .item-group .item.secondItem .item-lable span.th,
  .ax-rwd-table .item-group .item.secondItem .item-label span.th {
    border-left: none;
  }
  .ax-rwd-table .item-group .item.rightPadding0 .item-lable span.td,
  .ax-rwd-table .item-group .item.rightPadding0 .item-label span.td {
    padding-right: 0px;
  }
  .ax-rwd-table .item-group .item.leftPadding0 .item-lable span.td,
  .ax-rwd-table .item-group .item.leftPadding0 .item-label span.td {
    padding-left: 0px;
  }
  .ax-rwd-table .item-group .item.padding0 .item-lable span.td,
  .ax-rwd-table .item-group .item.padding0 .item-label span.td {
    padding: 5px 0px;
  }
  .ax-rwd-table .item-group .item-clear {
    clear: both;
  }
  .ax-rwd-table .item-group .group-clear {
    font-size: 1px;
    line-height: 1px;
    height: 1px;
    background: #e2e2e2;
    clear: both;
  }
}
/* custome area */
.AXButton .axi {
  font-size: 15px;
  line-height: inherit;
  display: block;
  float: left;
  margin-right: 3px;
}
.AXTree_none .bodyNodeIcon.userHtml .axi {
  font-size: 14px;
  line-height: inherit;
}
.ax-top-menu.AXMenuBox .axi {
  font-size: 14px;
  line-height: inherit;
}
.W350 {
  width: 350px;
}
.W400 {
  width: 400px;
}
