<!DOCTYPE html>
<html>
<head>
	<!--
		layout에서 사용 가능한 내장 객체
		param  : {{param}}
		request: {{request}}
		session: {{session}}
		cookie : {{cookie}}
	-->
    <!-- META -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- TITLE -->
    <title>Barracks {{title}}</title>

    <link rel="shortcut icon" href="http://dev.axisj.com/ui/axisj.ico" type="image/x-icon" />
    <link rel="icon" href="http://dev.axisj.com/ui/axisj.ico" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://dev.axisj.com/ui/AXJ.png" />
    <link rel="apple-touch-icon-precomposed" href="http://dev.axisj.com/ui/AXJ.png" />
    <meta property="og:image" content="http://dev.axisj.com/samples/_img/axisj_sns.png" />
    <meta property="og:site_name" content="Axis of Javascript - axisj.com" />
    <meta property="og:description" id="meta_description" content="Javascript UI Library based on JQuery" />

    <link rel="stylesheet" type="text/css" href="http://cdn.axisj.com/axicon/axicon.min.css" />
    <link rel="stylesheet" type="text/css" href="http://dev.axisj.com/ui/cocker/AXJ.min.css" />

    <link rel="stylesheet" href="{{__AXU4J_CONTEXT_PATH__}}/axu/Barracks/admin/ui/cocker/admin.css" />
    <link rel="stylesheet" href="{{__AXU4J_CONTEXT_PATH__}}/axu/Barracks/admin/ui/custom.css" />

<!-- @@@@@@@@@@@@@@@@@@@@@@ styles begin @@@@@@@@@@@@@@@@@@@@@@ -->
	{{{styles}}}
<!-- @@@@@@@@@@@@@@@@@@@@@@ styles end   @@@@@@@@@@@@@@@@@@@@@@ -->

    <script type="text/javascript" src="http://dev.axisj.com/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="http://dev.axisj.com/dist/AXJ.min.js"></script>

    <script type="text/javascript" src="{{__AXU4J_CONTEXT_PATH__}}/axu/Barracks/admin/resource/Chart.min.js"></script>
	<script type="text/javascript">
	var topMenu_data = [
		{_id:"m01", label:"대시보드", url:"dashboard.jsp"},
		{_id:"m02", label:"컨텐츠페이지", url:"#ax", cn:[
			{_id:"m0201", label:"서브페이지", url:"#ax"},
			{_id:"m0202", label:"서브페이지 두번째", url:"#ax", cn:[
				{_id:"m020201", label:"서브페이지 1-0", url:"content.jsp"},
				{_id:"m020202", label:"서브페이지 1-1", url:"content.jsp"},
				{_id:"m020203", label:"서브페이지 1-2", url:"content.jsp"}
			]},
			{_id:"m0203", label:"서브페이지 세번째", url:"content.jsp"}
		]},
		{_id:"m03", label:"레이아웃", url:"content.jsp"},
		{_id:"m04", label:"페이지", url:"content.jsp"},
		{_id:"m05", label:"사이트맵", url:"content.jsp"},
		{_id:"m06", label:"모듈", url:"content.jsp"},
		{_id:"m07", label:"접속통계", url:"content.jsp"}
	   ];
	   var sideMenu_data = [
		{label:'<i class="axi axi-windows"></i> 대시보드', url:"dashboard.jsp", target:"_self"},
		{label:'<i class="axi axi-asterisk"></i> 관리자설정', url:"content.jsp", target:"_self"},
		{label:'<i class="axi axi-columns"></i> 레이아웃', url:"content.jsp", target:"_self"},
		{label:'<i class="axi axi-pagelines"></i> 페이지', url:"content.jsp", target:"_self"},
		{label:'<i class="axi axi-sitemap"></i> 사이트맵', url:"content.jsp", target:"_self"},
		{label:'<i class="axi axi-archive"></i> 모듈', url:"content.jsp", target:"_self"},
		{label:'<i class="axi axi-bar-chart-o"></i> 접속통계', url:"content.jsp", target:"_self"}
	   ];
	
	   var topMenu = new AXTopDownMenu();
	   var mobileMenu = new AXMobileMenu();
	   var loginInfoModal = new AXMobileModal();
	   var fcObj = {
		pageStart: function(){
			fcObj.bindEvent();
			fcObj.bindTopMenu();
			fcObj.bindSideMenu();
			try {
				fnObj.pageStart();
			}catch(e){
	
			}
		},
		pageResize: function(){
			fcObj.setAsideMenu();
		},
		setAsideMenu: function(){
			if(!jQuery(".ax-aside-box").data("status")){
				if(axf.clientWidth() <= 1024 && axf.clientWidth() >= 767){
					jQuery(".ax-aside-menu").addClass("on");
					jQuery(".ax-aside-box").hide();
				}else if(axf.clientWidth() > 1024){
					jQuery(".ax-aside-menu").removeClass("on");
					jQuery(".ax-aside-box").show();
				}
			}
		},
		bindEvent: function(){
			fcObj.setAsideMenu();
	
			axdom(".AXCheckbox").find("input").bind("click", function(){
				if(this.checked)this.checked = true;else this.checked = false;
				if(jQuery(this).parent().hasClass("checked")) jQuery(this).parent().removeClass("checked");
				else jQuery(this).parent().addClass("checked");
			});
	
			axdom(".ax-aside-menu").bind("click", function(){
				var elem = jQuery(".ax-aside-box");
				elem.toggle();
				if ( elem.css('display')=='none' ) {
					elem.data("status", "open");
					jQuery(".ax-content").addClass("expand");
					jQuery(".ax-aside-menu").addClass("on");
				}else{
					elem.data("status", "close");
					jQuery(".ax-content").removeClass("expand");
					jQuery(".ax-aside-menu").removeClass("on");
				}
				axdom(window).resize();
			});
		},
		bindTopMenu: function(){
			topMenu.setConfig({
				targetID:"ax-top-menu",
				parentMenu:{
					className:"parentMenu"
				},
				childMenu:{
					className:"childMenu",
					hasChildClassName:"expand", // script 방식에서만 지원 됩니다.
					align:"center",
					valign:"top",
					margin:{top:0, left:0},
					arrowClassName:"varrow2",
					arrowMargin:{top:1, left:0}
				},
				childsMenu:{
					className:"childsMenu",
					hasChildClassName:"expand",
					align:"left",
					valign:"top",
					margin:{top:-4, left:0},
					arrowClassName:"harrow",
					arrowMargin:{top:13, left:1}
				},
				onComplete: function(){
					if(window.page_menu_id) topMenu.setHighLightOriginID( window.page_menu_id );
				}
			});
			topMenu.setTree(topMenu_data);
	
	
			axdom("#mx-top-menu-handle").bind("click", function(){
				mobileMenu.open();
			});
	
			mobileMenu.setConfig({
				reserveKeys:{
					primaryKey:"parent_srl",
					labelKey:"label",
					urlKey:"link",
					targetKey:"target",
					addClassKey:"ac",
					subMenuKey:"cn"
				},
				onclick: function(){ // 메뉴 클릭 이벤트
					mobileMenu.close();
					location.href = this.url;
				}
			});
			mobileMenu.setTree(topMenu_data);
	
	
			loginInfoModal.setConfig({
				width:300, height:160,
				head:{
					close:{
						onclick:function(){
	
						}
					}
				},
				onclose: function(){
					trace("close bind");
				}
			});
			axdom("#mx-loginfo-handle").bind("click", function(){
				var obj = loginInfoModal.open();
				obj.modalHead.html( '<div class="modal-log-info-title">Login Info</div>' );
				obj.modalBody.html( '<div class="modal-log-info-wrap"><ul class="ax-loginfo">' + axdom("#ax-loginfo").html() + '</ul><div style="clear:both;"></div></div>' );
			});
	
		},
		bindSideMenu: function(){
			var po = [], _target = axdom("#ax-aside-ul");
			for(var mi=0;mi<sideMenu_data.length;mi++){
				po.push('<li><a href="'+ sideMenu_data[mi].url +'" target="'+ sideMenu_data[mi].target +'">');
					po.push(sideMenu_data[mi].label);
				po.push('</a></li>')
			}
			_target.empty();
			_target.append(po.join(''));
		}
	};
	jQuery(document).ready(fcObj.pageStart.delay(0.1));
	jQuery(window).resize(fcObj.pageResize);
	</script>
</head>
<body>
<div id="AXPage">
	<div class="ax-header">
		<div class="ax-wrap">
			<div class="ax-layer">
				<div class="ax-col-12">
					<div class="ax-unit">
						<div class="ax-logo">
                            <a href="index.jsp"><img src="/axu/Barracks/admin/ui/cocker/images/logo.png" width="60" /></a>
						</div>
					</div>
				</div>
			</div>
			<div class="ax-layer">
				<div class="ax-col-8">
					<div class="ax-unit">
                        <!-- 상단 top-down-menu 표시 영역 : s-->
						<div id="ax-top-menu" class="ax-top-menu AXMenuBox"></div>
                        <!-- e : 상단 top-down-menu 표시 영역 -->
                        <div class="mx-top-menu"><a id="mx-top-menu-handle" class="mx-menu-button"><i class="axi axi-th"></i></a></div>
					</div>
				</div>
				<div class="ax-col-4">
					<div class="ax-unit">
						<ul class="ax-loginfo" id="ax-loginfo">
							<li class="profile"><div class="photo"></div></li>
							<li class="account"><a href="#ax">jowrney@axisj.com</a></li>
							<li class="btns"><a href="#ax" class="AXButton" onclick="location.href = 'login.html';"><i class="axi axi-power-off"></i> 로그아웃</a></li>
							<!--li class="lang"><a href="#ax"><i class="axi axi-keyboard-o"></i> 한국어</a></li-->
						</ul>
						<div class="mx-loginfo"><a id="mx-loginfo-handle" class="mx-menu-button"><i class="axi axi-bars"></i></a></div>
					</div>
				</div>
				<div class="ax-clear"></div>
			</div>
		</div>
	</div>
	<div class="H60"></div>
    <!-- e ax-header -->

	<div class="ax-body">
		<div class="ax-wrap">
			
			<div class="ax-layer ax-title">
				<div class="ax-col-12 ax-content">
<!-- @@@@@@@@@@@@@@@@@@@@@@ header begin @@@@@@@@@@@@@@@@@@@@@@ -->
					{{{header}}}
<!-- @@@@@@@@@@@@@@@@@@@@@@ header end   @@@@@@@@@@@@@@@@@@@@@@ -->
				</div>
                <div class="ax-clear"></div>
			</div>

			<div class="ax-layer">
				<div class="ax-col-12 ax-content">
					<!-- s.CXPage -->
					<div id="CXPage">
<!-- @@@@@@@@@@@@@@@@@@@@@@ contents begin @@@@@@@@@@@@@@@@@@@@@@ -->
						{{{contents}}}
<!-- @@@@@@@@@@@@@@@@@@@@@@ contents end   @@@@@@@@@@@@@@@@@@@@@@ -->
					</div>
					<!-- e.CXPage -->
				</div>
				<div class="ax-clear"></div>
			</div>

		</div>
	</div>
    <!-- e ax-body -->

    <!-- 좌측 퀵 메뉴 : s-->
    <div class="ax-aside">
        <div class="ax-layer ax-aside-menu-box">
            <a class="ax-aside-menu"><i class="axi axi-angle-double-right fa-lg"></i><i class="axi axi-angle-double-left fa-lg"></i></a>
        </div>
        <div class="ax-layer ax-aside-box">
            <div class="ax-unit">
                <div class="ax-box">
                    <h3>사이드 메뉴</h3>
                    <ul class="ax-aside-ul" id="ax-aside-ul"></ul>
                </div>
            </div>
        </div>
    </div>
    <!-- e : 좌측 퀵 메뉴-->

	<div class="ax-footer">
		<div class="ax-wrap">
			<div class="ax-col-6">
				<div class="ax-unit">
					<ul class="ax-version">
						<li>Powered by <a href="#ax">AXCMS</a></li>
						<li><i class="axi axi-check-circle-o"></i> 현재버전 <a href="#ax">1.0.0</a></li>
						<li><i class="axi axi-cloud-download"></i> 최신버전 <a href="#ax">1.0.0</a></li>
					</ul>
				</div>
			</div>
			<div class="ax-col-6">
				<div class="ax-unit">
					<ul class="ax-funcs">
						<li><a href="#ax"><i class="axi axi-plane"></i> 딜리버리 재생성</a></li>
						<li><a href="#ax"><i class="axi axi-trash-o"></i> 세션정리</a></li>
						<li><a href="#ax"><i class="axi axi-info-circle"></i> 서버정보출력</a></li>
						<li><a href="#ax"><i class="axi axi-share"></i> 버그리포트</a></li>						
					</ul>
				</div>
			</div>
            <div class="ax-clear"></div>
        </div>
	</div>
</div>
<!-- @@@@@@@@@@@@@@@@@@@@@@ scripts begin @@@@@@@@@@@@@@@@@@@@@@ -->
{{{scripts}}}
<!-- @@@@@@@@@@@@@@@@@@@@@@ scripts end   @@@@@@@@@@@@@@@@@@@@@@ -->
<!--
	TEST VALUES
	{{request.ax-request-param}}
	{{session.ax-session-param}}
	{{cookie.ax-cookie-param}}
-->
</body>
</html>